:root {
  --bg: #121114;
  --text: #b3adb9;
  --text-h: #ffffff;
  --border: #2d2a33;
  --code-bg: #1c1b1e;
  --social-bg: rgba(28, 27, 30, 0.5);
  --accent: #bc66ff;
  --accent-bg: rgba(188, 102, 255, 0.15);
  --accent-border: rgba(188, 102, 255, 0.4);
  --shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.5), 0 4px 6px -2px rgba(0, 0, 0, 0.3);

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
